/* Main - Root - Body */

* {
    box-sizing: border-box;
}

:root {
    --display-background: linear-gradient(135deg, #7f0ffbcf, #c27b6fcf);
    --text-color: #9ecffa;
    --text-hover-color: #fafafa;
    --box-shadow-color: #000;
    --drop-shadow-color: #9ecffa;
    --modal-background: #9ecffa55;
}

body {
    margin: 0;
    padding: 0;
    background-color: #9ecffa;
    background: url(../images/weather-backgrounds/default-weather.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Play', sans-serif;
    color: var(--text-color);
}

/* Nav button */

.nav .btn {
    background: var(--display-background);
    border: 1px solid var(--text-color);
    border-radius: 5px;
    color: var(--text-color);
    box-shadow: 0 0 10px var(--box-shadow-color);
}

.nav .btn:hover {
    color: var(--text-hover-color);
}

/* Weather cards */

.container {
    background: var(--display-background);
    border: 1px solid var(--text-color);
    border-radius: 5px;
    box-shadow: 0 0 20px var(--box-shadow-color);
    color: var(--text-color);
}

/* Form */

.form input {
    background: var(--text-color);
    border: 1px solid var(--text-color);
    border-radius: 5px;
    padding: 3px;
}

.form button {
    background: var(--text-color);
    border: 1px solid var(--text-color);
    border-radius: 5px;
}

.form button:hover {
    border: 1px solid var(--text-color);
}

/* Metric/Imperial switch */

.switch {
    position: relative;
    width: 60px;
    height: 29px;
    margin: 0.5em;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--text-color);
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    height: 25px;
    width: 35px;
    left: 2px;
    bottom: 2px;
    background: var(--display-background);
    transition: 0.4s;
    content: "°C";
}

input:checked+.slider {
    background: var(--text-color);
}

input:checked+.slider:before {
    transform: translateX(20px);
    background: var(--display-background);
    content: "°F";
}

.slider.round {
    border-radius: 4px;
}

.slider.round:before {
    border-radius: 4px;
}

/* Icon */

.icon, .forecast-icon {
    background-color: #00000044;
    border-radius: 25%;
    border: 1px solid var(--text-color);
    filter: drop-shadow(0 0 5px var(--drop-shadow-color));
}

/* Footer */

.footer {
    background: var(--display-background);
    border: 1px solid var(--text-color);
    border-radius: 5px;
    box-shadow: 0 0 10px var(--box-shadow-color);
}

.footer a {
    color: var(--text-color);
    text-decoration: none;
    transition: 0.2s ease-in-out;
}

.footer a:hover {
    color: var(--text-hover-color);
}

/* Modal */

.modal {
    background: var(--modal-background);
}

.modal-content {
    background: var(--display-background);
    border: 1px solid var(--text-color);
    border-radius: 5px;
    box-shadow: 0 0 10px var(--box-shadow-color);
}

.modal-content a {
    color: var(--text-color);
    text-decoration: none;
    transition: 0.2s ease-in-out;
}

.modal-content a:hover {
    color: var(--text-hover-color);
}